<div class="homepage">
  <section class="feed">
    {{#each posts as |post|}}
    <article class="post">
      <ul class="post-header">
        <li>
          <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
        </li><br />
        <li>
          <h5>{{post.user.name}} - {{format_date post.date_created}}</h5>
        </li>
      </ul>

      <p class="post-content">
        {{post.content}}
      </p>
      {{!-- Disabling likes for later development --}}
      {{!-- <button type="button" class="post-like">♡</button> --}}
      <p><a href="/post/{{post.id}}">{{comments.length}} Comments</a></p>
      <form id="{{post.id}}" class="commenter">
        <textarea class="comment-content" id="content-{{post.id}}"name="content" rows="4" cols="25" maxlength="60" placeholder="Your comment here!"></textarea>
        <button type="submit" class="start-comment">Comment</button>
      </form>
    </article>
    {{/each}}
  </section>

  <section class="poster">
    <form>
      <input type="text" id="poster-title" name="title" placeholder="Title"><br />
      <textarea id="poster-content" name="content" rows="4" cols="50" maxlength="120" placeholder="Your post here!" required></textarea><br />
      <input type="submit" id="submit-post" value="Submit">
    </form>
  </section>

</div>

<script src="/js/homepage.js"></script>