<<<<<<< Updated upstream
<section class="feed">
  {{#each posts as |post|}}
  <article class="post">
    <ul class="post-header">
      <li>
        <h3>{{post.title}}</h3>
      </li>
      <li>
        <h5>{{post.user.name}} - {{format_date post.date_created}}</h5>
      </li>
    </ul>
=======

<div class="homepage">
  <section class="feed">
    {{#each posts as |post|}}
    <article class="post">
      <ul class="post-header">
        <li>
          <h3>{{post.title}}</h3>
        </li>
        <li>
          <h5>{{post.user.name}} - {{format_date post.date_created}}</h5>
        </li>
      </ul>
>>>>>>> Stashed changes

      <p class="post-content">
        {{post.content}}
      </p>
    <button type="button" class="post-like">♡</button>
    </article>
    {{/each}}
  </section>

  <section class="poster">
    <form>
      <input type="text" id="poster-title" name="title" placeholder="Title"><br />
      <textarea id="poster-content" name="content" rows="4" cols="50" maxlength="120" placeholder="Your post here!" required></textarea><br />
      <input type="submit" value="Submit">
    </form>
  </section>
  
</div>