{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Post title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title">
      </div>
      <div class="form-group">
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="button button-primary">Publish</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Your Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="button buttom-small button-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script> --}}

<div class="profile">
  <section class="feed">
    {{#each user.postId as |post|}}
    <article class="post">
      <ul class="post-header">
        <li>
          <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
        </li>
        <li>
          <h5>{{post.user.name}} - {{format_date post.date_created}}</h5>
        </li>
      </ul>

      <p class="post-content">
        {{post.content}}
      </p>
    <button type="button" class="delete-post">Delete</button>
    </article>
    {{/each}}
  </section>

  <section class="poster">
    <form>
      <input type="text" id="poster-title" name="title" placeholder="Title"><br />
      <textarea id="poster-content" name="content" rows="4" cols="50" maxlength="120" placeholder="Your post here!" required></textarea><br />
      <input type="submit" id="submit-post" value="Submit">
    </form>
  </section>

  
</div>

<script src=".js/profile.js"></script>